<body> {
font-face=
}
body {  
    background: linear-gradient(#8B008B, #4B0082, #483D8B) fixed;
   }
.pl {
color:green
}
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 4px; /* Толщина линии */
   }